.banner {
  background-image: url("https://res.cloudinary.com/asm902/image/upload/v1563042691/bar_background.jpg");
  background-size: cover;
  height: 100vh;
}


 // linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(-), cover;_banner.scss
